.conteudoPagina{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.conteudoCapa{
  border: 1px solid white;
}

.conteudoCapa > img{
  border: 5px solid white;
  border-radius: 5px;
  width: 500px;
  min-width: 500px;
}

.conteudoTexto{
  margin-top: 15px;
}

.conteudoTexto > p{
  color: #D5DEEF;
}

button{
  margin-top: 10px;
  border-radius: 5px;
  align-items: center;
  background-color: #638ecb;
  color: #D5DEEF;
  width: 75px;
  height: 30px;
}
