<div class="conteudoBigCard">
  <div class="fotoBigCard">
      <img
        src="https://cdn3.vectorstock.com/i/1000x1000/30/97/flat-business-man-user-profile-avatar-icon-vector-4333097.jpg"
        alt="Foto genérica de perfil"
      >
  </div>
  <div class="titleBigCard">
    <a href="#">
    <h1>Saiu meu site em angular!</h1>
    </a>
  </div>
  <div class="txtBigCard">
    <a href="#">
    <p>O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão
      usado por estas indústrias desde o ano de 1500, quando uma misturou os caracteres de um texto para criar um espécime de
      livro.</p>
    </a>
  </div>
</div>
