<div class="conteudoSmallCard">
  <div class="conteudoSmallCardDisplay">
      <div class="fotoSmallCard">
        <img
            src="https://static.wikia.nocookie.net/palworld/images/8/8f/Palworld_keyart.png"
            alt="Imagem de capa do jogo Palworld"
        >
      </div>
      <div class="titleSmallCard">
        <a href="https://palworld.fandom.com/wiki/Palworld" target="_blank">
          <h1>O Palworld é um jogo de sobrevivência, ação e aventura, desenvolvido e publicado pela Pocket Pair.</h1>
        </a>
      </div>
  </div>
  <div class="quebraLinhaSmallCard">
    <hr/>
  </div>
</div>



