.conteudoSmallCard{
  /*border: 1px solid white;*/
  width: 95%;
  margin-bottom: 15px;
}
.conteudoSmallCardDisplay{
  display: flex;
  flex-direction: row;
}
.fotoSmallCard > img{
  min-width: 150px;
  max-width: 200px;
  margin-right: 20px;
}

.titleSmallCard{
  display: flex;
  justify-content: center;
  align-items: center;
}

.quebraLinhaSmallCard{
  margin-top: 10px;
}
