
<app-menu-title></app-menu-title>
<div class="artigos">
  <div class="destaque">
    <app-big-card
    id="1"
      fotoCover="https://cdn3.vectorstock.com/i/1000x1000/30/97/flat-business-man-user-profile-avatar-icon-vector-4333097.jpg"
      cardTitle="Novo título dinâmico"
      cardConteudo="Esse é o texte para saber se o conteúdo está funcionando dinamicamente! Além disso a respota para tudo no universo é: 42."
      >
    </app-big-card>
  </div>

  <div class="outros">
    <app-small-card
      fotoCover="https://static.wikia.nocookie.net/palworld/images/8/8f/Palworld_keyart.png"
      cardTitle = "O Palworld é um jogo de sobrevivência, ação e aventura."
      cardLink="https://palworld.fandom.com/wiki/Palworld"
    ></app-small-card>
    <app-small-card
      fotoCover="https://assets.pokemon.com/assets//cms2-pt-br/img/video-games/video-games/pokemon_unite/pokemon-unite-logo-169.jpg"
      cardTitle = "Pokémon Unite é um jogo de batalha multijogador online gratuito."
      cardLink="https://unite.pokemon.com/pt-br/"
    ></app-small-card>
    <app-small-card
      fotoCover="https://static.wikia.nocookie.net/overwatch_gamepedia/images/c/cb/OW2_Logo_Dark.png"
      cardTitle = "Overwatch 2 é um jogo de tiro em primeira pessoa (FPS) gratuito da Blizzard."
      cardLink="https://overwatch.blizzard.com/pt-br/"
    ></app-small-card>
  </div>
</div>
