
<app-menu-title></app-menu-title>
<div class="artigos">
  <div class="destaque">
    <app-big-card
    id="1"
      fotoCover="https://assets.pokemon.com/assets//cms2-pt-br/img/video-games/video-games/pokemon_unite/pokemon-unite-logo-169.jpg"
      cardTitle="Pokémon Unite"
      cardConteudo="Pokémon Unite é um jogo eletrônico de arena de batalha multijogador desenvolvido pela TiMi Studio Group e publicado pela The Pokémon Company para Microsoft Windows, Nintendo Switch, iOS e Android. Foi lançado em 21 de julho de 2021. O jogo é um jogo de arena de batalha multijogador em tempo real (MOBA) que permite que os jogadores controlem Pokémon em partidas de 5 contra 5. Os jogadores precisam trabalhar juntos para derrotar a equipe adversária, capturando pontos de controle e derrotando o Pokémon adversário."
      >
    </app-big-card>
  </div>

  <div class="outros">
    <app-small-card
      id="2"
      fotoCover="https://image.api.playstation.com/vulcan/ap/rnd/202110/2000/aGhopp3MHppi7kooGE2Dtt8C.png"
      cardTitle = "Elden Ring"
    ></app-small-card>
    <app-small-card
      id="3"
      fotoCover="https://img.hype.games/cdn/c64bd743-e83f-4677-a53b-e03fdc4f6566[BHN-Nintendo]-The-Legend-of-Zelda-Breath-of-the-Wild%20(1).png"
      cardTitle = "The Legend of Zelda: Breath of the Wild"
    ></app-small-card>
    <app-small-card
      id="4"
      fotoCover="https://static.wikia.nocookie.net/overwatch_gamepedia/images/c/cb/OW2_Logo_Dark.png"
      cardTitle = "Overwatch 2 é um jogo de tiro em primeira pessoa (FPS) gratuito da Blizzard."
    ></app-small-card>
  </div>
</div>
